body {
    font-size: 24px; /* 设置默认字体大小 */
    line-height: 1.6; /* 设置行间距 */
    width: 70%; /* 设置内容宽度为页面宽度的80% */
    margin: 0 auto; /* 让内容在页面中居中 */
}
h1 {
    font-size: 30px; /* 设置默认字体大小 */
    color: black; /* 标题使用黑色 */
    text-align: center; /* 标题居中 */
}
h2 {
    font-size: 28px; /* 设置默认字体大小 */
    color: black; /* 标题使用黑色 */
}
ul li {
    color: black; /* 列表项使用黑色 */
    margin-bottom: 10px; /* 增加列表项之间的间距 */
}
.important {
    color: red; /* 重点内容使用红色 */
    font-weight: bold; /* 加粗显示 */
}
