#workArea {
    position: relative;
    display: flex;
    height: 500px;
    border: 2px dashed #cecece;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

/* prompt text animation */
#promptText {
    transform: translateX(100%);
    opacity: 0;
}

#promptText.active {
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(0);
    opacity: 1;
}

/* file upload */
#imageUpload {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

/* Ensure the canvas covers the image and is on top */
#imageContainer {
    position: relative;
}

#image {
    display: none;
    max-height: 496px;
    max-width: 100%;
    user-select: none;
    cursor: crosshair;
}

.image-selected {
    filter: brightness(50%);
}

/* overlay selector */
#overlayCanvas {
    position: absolute;
    border: 2px dashed green;
    display: none;
    background: white;
    mix-blend-mode: overlay;
    z-index: 1;
    user-select: none;
    cursor: crosshair;
}

/* result */
#resultContainer {
    display: none;
}

#croppedImage {
    border-radius: 50px;
}

/* loading spinner */
#spinnerContainer {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #e8f0fe;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #cecece;
    border-top: 4px solid #0d6efd;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}